$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.footerContainer{
  padding:0!important;
  background-color: rgba(245,245,245,0.7);
}
.footer{
}
.footer_campbell_logo{
  float: right;
  height: 40px;
}

