$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
#logo{
  padding:5px;
}

.header{
  padding:0!important;
  background-color:#EEEEEE;
}

.header-title{
  // padding:10px;
}

.nav-header{
  // padding-top:34px;
}

.btn.routes{
  // margin-right:1px;
  // margin-left:2px;
}

.evaluation-menu{
  float:right!important;
  a{
    color:#006592;
  }
  a.disabled{
    color:#D0CFD3!important;
  }
}

ul.mainMenu > :first-child a{
  font-weight: bold;
}
