$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
#logo{
  padding:5px;
}

.header{
  padding:0!important;
  background-color:#EEEEEE;
}

.header-title{
  // padding:10px;
}

.nav-header{
  // padding-top:34px;
}

.btn.routes{
  // margin-right:1px;
  // margin-left:2px;
}

.evaluation-menu{
  a{
    color:#006592;
  }
  a.disabled{
    color:#D0CFD3!important;
  }
}

ul.mainMenu > :first-child a{
  font-weight: bold;
}

/* extra */
.mainMenu-container{
  width:100%;
  height:65px;
  background-color: red;
}
.list_container{
background-color: yellow!important;
height:60px;
}
.evaluation-menu {
float:right!important;
}
.cinema-logo {
  display: block;
  text-indent: -9999px;
  width: 200px;
  height: 82px;
  //background: url(images/logo.svg);
  //background-size: 200px 82px;
 	float: left;
	margin-left: 30px;
}
.cinema{
  display:none!important;
}
