$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

#info {
  margin-bottom:20px;
}

.pn{
  margin:0 0 4px 0;
  text-align:center;
}

.project-name{
  cursor:pointer;
}
.project-name-edit{
  width:100%;
  text-align:center!important;
}

.route-title {
  margin:0 0 3px 0;
}

.info-screen {
}
