$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.projects-container{
  margin-bottom:40px;
}

.project-uploader{
  overflow:auto;
}

#previewContainer{
  overflow:visible;
  margin-bottom:24px;
}

#filePreview {
}

#progress_bar {
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  clear: both;
  opacity: 0;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}
#progress_bar.loading {
  opacity: 1.0;
}
#progress_bar .percent {
  background-color: #99ccff;
  height: auto;
  width: 0;
}

.prtitle{
  padding-left:8px;
}

#project-name{
  width:400px;
}
