$cySize: 600px;
$cmtw: 600px;
$cmth: 600px;

#cy{
  padding:0!important;
  width:$cySize;
  height:$cySize;
  -moz-box-shadow:    inset 0 0 8px grey;
  -webkit-box-shadow: inset 0 0 8px grey;
  box-shadow:         inset 0 0 8px grey;
}

#cyContainer {

}

#netplotControls{
}

.tool-title {
  text-align:center;
  color:#282C34;
}

#contMatContainer .handsontable col.rowHeader {
    width: 72px;
}


#wide-table, #cm-table{
  margin-left:20px;
  padding:0!important;
  //  max-width:700px;
  //  max-height:700px;
}

.ht_clone_left .htCore tbody tr:last-child{
  th {
    vertical-align: middle;
  }
  .rowHeader{
    color: #777;
    font-weight:bold;
    line-height:100%;
    display:block;
  }
}


#cm-table{
  // // width:$cmtw;
  // // height:$cmth;
  // // overflow:auto;
  // // resize: vertical;
  // resize: horizontal;
}
