$cySize: 600px;
$tablew: 400px;
$tableh: 700px;
$chartw: 700px;
$charth: 700px;
$customized: #EBEBEB;

#cy{
  padding:0!important;
  min-width:$cySize;
  min-height:$cySize;
  -moz-box-shadow:    inset 0 0 8px grey;
  -webkit-box-shadow: inset 0 0 8px grey;
  box-shadow:         inset 0 0 8px grey;
}

.np-control {
  margin-left:6px;
}
.tool-title {
  text-align:center;
  color:#282C34;
}

col.rowHeader {
    width: 72px!important;
}


#np-table, #cm-table{
  margin:10px 0 10px 0!important;
  //  max-width:700px;
  //  max-height:700px;
}

.top-buffer { margin-top:20px; }

#cm-table .ht_clone_left .htCore {
  tr:last-child{
    th {
      vertical-align: middle;
    }
    .rowHeader{
      // color: #777;
      font-weight:400;
      line-height:100%;
      display:block;
    }
  }
}

.btn-pad {
  margin-left:4px;
}

.fullscreen{
  width:100%!important;
  height:90vh!important;
}

.table-resizer{
  width:100%;
  // height:20px;
  margin:10px 0 10px 0;
  cursor:pointer;
}

#conMatControls{
  // height:$tableh;
}
.table-container{
  // width:$tablew;
  height:$cySize;
  overflow:hidden;
  padding:5px 10px 50px 10px;
  background-color: white;
  // resize: vertical;
}

.table{
  margin:0!important;
  padding:0!important;
  overflow:auto;
}

//ROB selector

.compIndrSelector, .compRobSelector, .compSelector{
  width:310px;
  margin: 6px;
  padding:5px 11px 5px 11px!important;
  border-radius: 0;
  // border-width:1px;
  border: 0px; 
  border-left: 6px solid grey;
  background-color: white;
  ul{
    list-style-type: none;
    padding-left: 0!important;
    hr{
      margin-top:2px!important;
      margin-bottom:2px!important;
    }
  }
  .indrLabel, .robLabel{
    color:grey;
  }
  .isSelected{
    color:black;
  }
}

.customized {
  background-color:rgba(225,225,225,0.5);
}

.customized-report {
  border-left: 8px solid $customized;
}

.report-table {
  text-align: center;
}

//Contribution Chart
#chartContainer{
  width:$chartw;
  height:$charth;
  overflow:auto;
  padding:10px 20px 50px 20px;
  resize: both;
  background:white;
}

a.btn{
  color: inherit;
}

.nav-tabs {
  a {
    font-size: 16px;
  }
}
.nma {
  color: #1B809E;
}
.disabled{
  pointer-events: none;
  cursor: default;
}
#conMatloader {
  // height:700px;
  // margin-top:250px;
}
#loaderTitle{
}
.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #337AB7; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  float:left;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.progress {
  height:50px;
  #conMatProgressBar{
    color:#EEEEE6;
    text-shadow: 2px 2px 4px #1C1C1C;
    padding-top:17px;
  }
}
.gly-spin {
-webkit-animation: spin 5s infinite linear;
-moz-animation: spin 5s infinite linear;
-o-animation: spin 5s infinite linear;
animation: spin 5s infinite linear;
}
@-moz-keyframes spin {
0% {
-moz-transform: rotate(0deg);
}
100% {
-moz-transform: rotate(359deg);
}
}
@-webkit-keyframes spin {
0% {
-webkit-transform: rotate(0deg);
}
100% {
-webkit-transform:
rotate(359deg);
}
}
@-o-keyframes spin {
0% {
-o-transform:
rotate(0deg);
}
100% {
-o-transform:
rotate(359deg);
}
}
@keyframes
spin {
0% {
-webkit-transform:
rotate(0deg);
transform:
rotate(0deg);
}
100%
{
-webkit-transform:
rotate(359deg);
transform:
rotate(359deg);
}
}

.rftable{
  width:350px;
  margin-top:7px;
  // td{border: 1px solid #626262; }
  // th{border: 1px solid #626262; }
}
.buttoner{
  margin-top:10px;
}
.pointer{
  cursor:pointer;
}
