$cySize: 600px;
$tablew: 400px;
$tableh: 300px;
$chartw: 700px;
$charth: 700px;

#cy{
  padding:0!important;
  width:$cySize;
  height:$cySize;
  -moz-box-shadow:    inset 0 0 8px grey;
  -webkit-box-shadow: inset 0 0 8px grey;
  box-shadow:         inset 0 0 8px grey;
}

.tool-title {
  text-align:center;
  color:#282C34;
}

col.rowHeader {
    width: 72px!important;
}


#np-table, #cm-table{
  margin-left:20px;
  padding:0!important;
  //  max-width:700px;
  //  max-height:700px;
}

#cm-table .ht_clone_left .htCore {
  tr:last-child{
    th {
      vertical-align: middle;
    }
    .rowHeader{
      // color: #777;
      font-weight:400;
      line-height:100%;
      display:block;
    }
  }
}

.fullscreen{
  width:100%!important;
  height:90vh!important;
}

.table-resizer{
  width:100%;
  // height:20px;
  margin:10px 0 10px 0;
  cursor:pointer;
}

.table-container{
  width:$tablew;
  height:$tableh;
  overflow:hidden;
  padding:10px 20px 50px 20px;
  resize: both;
}

.table{
  margin:0!important;
  padding:0!important;
  overflow:auto;
}

//ROB selector

.compRobSelector {
  width:210px;
  margin: 6px;
  padding:5px 11px 5px 11px!important;
  border-radius: 8px 8px 8px 8px;
  border-width:2px;
  background-color: white;
  ul{
    list-style-type: none;
    padding-left: 0!important;
    hr{
      margin-top:2px!important;
      margin-bottom:2px!important;
    }
  }
  .robLabel{
    color:grey;
  }
  .isSelected{
    color:black;
  }
}

.compRobSelector.customized {
  background-color:rgba(225,225,225,0.5);
}

//Contribution Chart
#chartContainer{
  width:$chartw;
  height:$charth;
  overflow:auto;
  padding:10px 20px 50px 20px;
  resize: both;
}
