$icon-font-path: '../fonts/';
$cySize: 600px;
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
#cy{
  padding:0!important;
  width:$cySize;
  height:$cySize;
  display:block;
  -moz-box-shadow:    inset 0 0 8px grey;
  -webkit-box-shadow: inset 0 0 8px grey;
  box-shadow:         inset 0 0 8px grey;
}

#cyContainer {

}

#netplotControls{
}

.tool-title {
  text-align:center;
}
