  {{#if model.project.hasSelectedRob}}
  OUR beautiful con chart!
  {{else}}
    <h4>
      Chart not available!<br>
      Risk of Bias rule not set<br>
      You can do it in the
      <a href="#robSelector">
      Direct comparison ROB selection
      </a>
      section
    </h4>
  {{/if}}
