<blockquote id="conChartTitleCont" class='col-xs-12'>
  <h3 id="contChartTitle">{{text.title}}</h3>
  <div class='form-inline'>
    <button onClick="Actions.ConChart.save()"
    onClick="Actions.DirectRob.resetDirectRob()" class="pull-right btn
    btn-default"> {{text.saveButton}}</button>
  </div>
</blockquote>
<div id="barChartContainer"></div>
