<div class="container-fluid routed" id='docPage'>
  <div class='doc-cont col-md-offset-1 col-md-10'>
    <p><strong>
      Below you can find the detailed  
      <a href="model/CINeMA_manual.pdf" download="CINeMA_manual.pdf"> manual </a>
      of CINeMA, submitted to the Campbell library.
    </strong></p>
    <br>
    <p>
    You can also download the current version of the paper describing CINeMA's
    <strong>methodology</strong>
    <a href="model/CINeMA_paper.pdf" download="CINeMA_paper.pdf"> here </a> <em>(currently under review)</em>
    </p>

    A demo dataset can be downloaded <a href="model/Elliott_2007.csv"
      download="diabetes.csv">here</a>. It is a network of six antihypertensive
    drugs studying the incidence of diabetes by Elliot et.al 
    <br>
    <a target="blank" href="https://www.ncbi.nlm.nih.gov/pubmed/17240286" >W. J. Elliott and P. M. Meyer. The Lancet,
      369(9557):201 – 207, 2007</a>
    <p>
      <h4></h4>
      CINeMA uses the <span style="font-family:monospace">netmeta</span> R-package for performing Network meta-analysis of the data.
	<br>
	 G. Rücker, G. Schwarzer, U. Krahn, and J. König. <span style="font-family:monospace">netmeta</span>: 
	<em>Network Meta-Analysis using Frequentist Methods</em>, 2017. R package version 0.9-5.
        <a href="https://CRAN.R-project.org/package=netmeta" target="_blank">https://CRAN.R-project.org/package=netmeta</a>
    </p>
    {{!-- {{{docPage}}} --}}
    <p>
    <h4> Source code</h4>
      The source code is available in the following github repository <a
        href="https://github.com/esm-ispm-unibe-ch/cinema">CINeMA</a>
    </p>
  </div>
</div>
