<div class="container-fluid routed" id='docPage'>
  <div class='doc-cont col-md-offset-1 col-md-10'>
    A demo dataset can be downloaded <a href="model/Elliott_2007.csv"
      download="diabetes.csv">here</a>. It is a network of six intervention for
    diabetes mellitus by Elliot et.al 
    <br>
    <a href="https://www.ncbi.nlm.nih.gov/pubmed/17240286" >W. J. Elliott and P. M. Meyer. Incident diabetes in clinical
      trials of antihypertensive drugs: a network meta-analysis. The Lancet,
      369(9557):201 – 207, 2007</a>
    {{{docPage}}}
    <p>
    <h4> Source code</h4>
      The source code is available in the following github repository <a
        href="https://github.com/tpapak/cinema">CINeMA</a>
    </p>
  </div>
</div>
