<div class="container-fluid routed" id='docPage'>
  <div class='doc-cont col-md-offset-1 col-md-10'>
    <br>
    <p><strong>
      The detailed manual of CINeMA is available 
      in the following publication
      <br>
    </strong>
      <a target="_blank" href="https://doi.org/10.1002/cl2.1080">
       [Papakonstantinou et al. 
        <b>
        <em>
        CINeMA: Software for semiautomated assessment of the confidence in the results of network meta-analysis
        </em>
        </b>
        Campbell Systematic Reviews <b>2020</b> 16 <em>e1080</em>]
      </a>
    <br>
    <p>
    CINeMA's methodology is described in
    <a target="_blank" href="https://doi.org/10.1371/journal.pmed.1003082">
    [Nikolakopoulou A, Higgins JPT, Papakonstantinou T,
      Chaimani A, Del Giovane C, Egger M & Salanti G. 
      <b><em>CINeMA: An approach for assessing confidence in the results of a network
        meta-analysis</em> </b>
      PLOS Medicine <b>2020</b> 17 <em>1-19</em>]</a>
      <br>
      <a target="_blank" href="https://doi.org/10.1002/cl2.1080">
    </p>

    A demo dataset can be downloaded <a href="model/Elliott_2007.csv"
      download="diabetes.csv">here</a>. It is a network of six antihypertensive
    drugs studying the incidence of diabetes by Elliot et.al 
    <br>
    <a target="blank" href="https://www.ncbi.nlm.nih.gov/pubmed/17240286" >W. J. Elliott and P. M. Meyer. The Lancet,
      369(9557):201 – 207, 2007</a>
    <p>
      <h4></h4>
      CINeMA uses the <span style="font-family:monospace">netmeta</span> R-package for performing Network meta-analysis of the data.
	<br>
	 G. Rücker, G. Schwarzer, U. Krahn, and J. König. <span style="font-family:monospace">netmeta</span>: 
	<em>Network Meta-Analysis using Frequentist Methods</em>, 2017. R package version 0.9-5.
        <a href="https://CRAN.R-project.org/package=netmeta" target="_blank">https://CRAN.R-project.org/package=netmeta</a>
    </p>
    {{!-- {{{docPage}}} --}}
    <p>
    <h4> Source code</h4>
      The source code is available in the following github repository <a
        href="https://github.com/esm-ispm-unibe-ch/cinema">CINeMA</a>
    </p>
  </div>
</div>
