<div class="container-fluid routed" id='error'></div>
  <div class='error-cont error col-md-offset-1 col-md-10'>
    {{{errorPage}}}
  </div>
</div>
<style>
  .blockquote-danger{border-color:#D43F3A}
</style>
