<a id="evaluatorTilte" data-toggle="collapse" href="#evTab" class='well
  btn  tool-title col-xs-12'><h4>NMA Evidence Evaluation</h4></a>

<div id="evTab" class="collapse in">
  <ul class="nav nav-tabs">
    <li class="active">
      <a  href="#limitations" data-toggle="tab">Study Limitations</a>
    </li>
    <li><a href="#indirectness" data-toggle="tab">Indirectness</a>
    </li>
    <li><a href="#inconsistency" data-toggle="tab">Inconsistency</a>
    </li>
    <li><a href="#imprecision" data-toggle="tab">Imprecision</a>
    </li>
    <li><a href="#pubBias" data-toggle="tab">Publication Bias</a>
    </li>
  </ul>

<div class="tab-content">
  <div class="tab-pane active" id="limitations">
  </div>
  <div class="tab-pane" id="indirectness">
  </div>
  <div class="tab-pane" id="inconsistency">
  </div>
  <div class="tab-pane" id="imprecision">
  </div>
  <div class="tab-pane" id="pubBias">
  </div>
</div>

