<div class="footer">
  <p>
  {{{model.text.headerTitle}}} v{{model.version}}
    <a target="_blank" href="https://www.campbellcollaboration.org"> 
      <img class='footer_campbell_logo' src="images/campbell_logo.png"/>
    </a>
  </p>
</div>
