<div class="footer">
  <p>
  {{{model.text.headerTitle}}}
    <a target="_blank" href="https://www.campbellcollaboration.org"> 
      <img class='footer_campbell_logo' src="images/campbell_logo.png"/>
    </a>
  </p>
</div>
