<!--
<div class="footer">
  <p>
  {{{model.text.headerTitle}}} poutsav{{model.version}}
    <a target="_blank" href="https://www.campbellcollaboration.org">
      <img class='footer_campbell_logo' src="images/campbell_logo.png"/>
    </a>
  </p>
</div>
-->
<div class="footer">
<div class="logos">
  <div id="campbell"><a target="_blank" href="https://www.campbellcollaboration.org">
        <img class="campbell_logo" src="images/campbell_logo_wide.png">
      </a></div>
  <div id="cochrane"><a target="_blank" href="http://www.cochrane.org">
        <img class="cochrane_logo" src="images/cochrane_logo.png">
      </a></div>
  <div class="bern">Institute of Social and Preventive Medicine, University of Bern, 2017<br></div>
</div>
<div class="rightfooter">
  <div id="version">Confidence In Network Meta Analysis - <span class="fontcinema">CINeMA</span> v0.4.0-α</div>
  <div  class="smalltext">CINeMA is distributed, in the hope that it will be useful but without any warranty, under the <a href="LICENSE" class="license"><img src="images/agplv3.png"></a> license<br>
By using <span class="fontcinema">CINeMA</span> you accept the following <a href="DISCLAIMER">DISCLAIMER</a></div>
</div>
</div>
