
    <div id="myFooter" class='hidden-print'>
        <div class="footer-container">
            <div>
                <div class="col-sm-3">
                    <ul>
                        <li><a target="_blank" href="https://www.ispm.unibe.ch">
                              <img class="bern"  src="images/bern.png">
                            </a><span id="bern">Institute of Social and Preventive Medicine (ISPM)</span>
                          </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul>
                        <li><a target="_blank" href="https://www.campbellcollaboration.org">
                              <img class="campbell_logo" src="images/campbell_logo_wide.png">
                            </a>
                          </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul>
                        <li><a target="_blank" href="http://www.cochrane.org">
                              <img class="cochrane_logo" src="images/cochrane_logo.png">
                            </a></li>
                    </ul>
                </div>
                <div class="col-sm-5 info">


                    <div class="disclaimertext">CINeMA is distributed, in the hope that it will be useful but without any warranty, under the <a href="LICENSE" class="license"><img src="images/agplv3.png"></a> license.
                  By using <span class="fontcinema">CINeMA</span> you accept the following <a href="DISCLAIMER">DISCLAIMER</a></div>

                </div>
            </div>
        </div>
        <div class="second-bar">
          <div class="footer-container2">
          <div class="col-sm-3">
            <button style="color:black" onClick="window.print()">
                print page
            </button></div>
          <div class="col-sm-6">


            <div><img class="footer_logo" src="images/footerlogo.svg"> Confidence In Network Meta Analysis - <span class="fontcinema">CINeMA</span> {{model.version}}
            </div>

          </div>
          <div class="col-sm-3"></div>

       </div>

        </div>
    </div>
