<blockquote id="IndrChartTitleCont" class='col-xs-12'>
  <h3 id="IndrChartTitle">{{text.title}}</h3>
  <h4 id="IndrChartTitle">{{text.subtitle}}</h4>
  <div class='form-inline'>
    <button onClick="Actions.IndrChart.save()" class="pull-right btn
    btn-default"> {{text.saveButton}}</button>
  </div>
</blockquote>
<div id="IndrChartContainer"></div>
