<a id="cyTitle" data-toggle="collapse" href="#NetPlot" class='well btn tool-title col-xs-12'>
  <h4>Network Plot</h4>
</a>

<div id="NetPlot" class='collapse in'>
  <div class='col-xs-12'>
    <div id="cy" class='pull-left col-md-6 col-xs-12 col-sm-12'></div>
    <div id='wide-table' class='col-xs-12 col-md-6'></div>
  </div>
  <div id="netplotControls" class='col-md-3 col-sm-12 col-xs-12'>
    <div class='well pull-right col-xs-12'>
      <h4 class=''>
        <span class="pull-left"> Controls </span>
        <span class="pull-right glyphicon glyphicon-cog" aria-hidden="true"></span>
      </h4>
      <br>
      <hr>
      <div class=''>
        {{#each controls}}
          <h5 class='controls-title'>{{title}}</h5>
          <select action="{{action}}" class='controls-container netplotControl form-control'>
              {{#each selections}}
                {{#if isAvailable}}
                  <option filter="{{value}}" {{#if isActive}}selected{{/if}}>
                    {{label}}
                  </option>
                {{/if}}
              {{/each}}
          </select>
        {{/each}}
        <hr/>
        <a class='col-xs-12 np-redraw btn btn-default' action='np-redraw'>Redraw</a>
      </div>
    </div>
  </div>
</div>
