<div class="container-fluid routed" id='welcome'></div>
  <div class='welcome-cont col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8'>
    {{{welcomePage}}}
    <p>
       <h5>How to cite the software</h5>
      CINeMA: <em>Confidence in Network Meta-Analysis</em> [Software]. Institute
      of Social and Preventive Medicine, University of Bern, 2017. 
      Available from <a href="http://cinema.ispm.ch">cinema.ispm.ch</a>
    </p>
    <p>
    <ul class='list-inline supporters'>
      <li>
        <a target="_blank" href="https://www.campbellcollaboration.org"> 
          <img class='campbell_logo' src="images/campbell_logo_wide.png"/>
        </a>
      </li>
      <li>
        <a target="_blank" href="http://www.cochrane.org"> 
          <img class='campbell_logo' src="images/cochrane_logo.png"/>
        </a>
      </li>
    </ul>
    </p>
  </div>
  <div class="license col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
    <small>
    CINeMA is distributed, in the hope that it will be useful but without any
    warranty, under the <a href="LICENSE"><img
      src="images/agplv3.png"/></a> license
    <br>
    By using CINeMA you accept the following <a
      href="DISCLAIMER">DISCLAIMER</a>
    </small>
  </div>
</div>
