<div class="container-fluid routed welc" id='welcome'>
  <div class="content-welcome ">
  <div class='welcome-cont col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8'>


    <h1 style="color: #2c4d6d; font-weight: 300; font-size:50px;">Welcome to <span class="fontcinema">CINeMA</span>!</h1>

  <p>
   <em>
    <span class="fontcinema">
     CINeMA
    </span>
    (Confidence in Network Meta-Analysis) is a web application that simplifies the evaluation of confidence in the findings from network meta-analysis.
   </em>
  </p>
  <p>
   It is based on a methodological framework described in
   <a href="https://doi.org/10.1371/journal.pmed.1003082">
    [1]
   </a>
   which considers six domains:
   <strong>
    within-study bias
   </strong>
   ,
   <strong>
    reporting bias
   </strong>
   ,
   <strong>
    indirectness
   </strong>
   ,
   <strong>
    imprecision
   </strong>
   ,
   <strong>
    heterogeneity
   </strong>
   and
   <strong>
    incoherence
   </strong>
   .
   <br/>
   Key to the
   <span class="fontcinema">
    CINeMA
   </span>
   methodology is the
   <strong>
    contribution matrix
   </strong>
   , which shows how much information each study contributes to the results from network meta-analysis.
  </p>

      <br>
    <h4>How to cite <span class="fontcinema">CINeMA</span></h4>
    <p>
    <a target="_blank" href="https://doi.org/10.1371/journal.pmed.1003082">
    <small>[Nikolakopoulou A, Higgins JPT, Papakonstantinou T,
      Chaimani A, Del Giovane C, Egger M & Salanti G. 
      <b><em>CINeMA: An approach for assessing confidence in the results of a network
        meta-analysis</em> </b>
      PLOS Medicine <b>2020</b> 17 <em>1-19</em>]</small></a>
      <br>
      <a target="_blank" href="https://doi.org/10.1002/cl2.1080">
      <small>
       [Papakonstantinou T, Nikolakopoulou A, Higgins JPT, Egger M & Salanti G. 
        <b>
        <em>
        CINeMA: Software for semiautomated assessment of the confidence in the results of network meta-analysis
        </em>
        </b>
        Campbell Systematic Reviews <b>2020</b> 16 <em>e1080</em>]
      </small>
      </a>
      </p>
    </p>
      <p><hr class="thin"></p>
      <br><br>
    <p><i class="fa fa-arrow-right" aria-hidden="true"></i> To browse your projects or upload a new one go to </p>
      <button class="addprojectbtn2" type="button" onclick="Actions.Router.gotoRoute('project')"href="#project"><i class="fa fa-file" aria-hidden="true" style="padding-right:7px"></i> MY PROJECTS </button><br><br><br><br>


    </div>
    </div>






















  <!--  {{{welcomePage}}}
     <p>
    <ul class='list-inline supporters'>
      <li>
        <a target="_blank" href="https://www.campbellcollaboration.org">
          <img class='campbell_logo' src="images/campbell_logo_wide.png"/>
        </a>
      </li>
      <li>
        <a target="_blank" href="http://www.cochrane.org">
          <img class='campbell_logo' src="images/cochrane_logo.png"/>
        </a>
      </li>
    </ul>
    </p>
  </div>
  <div class="license col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
    <small>
    CINeMA is distributed, in the hope that it will be useful but without any
    warranty, under the <a href="LICENSE"><img
      src="images/agplv3.png"/></a> license
    <br>
    By using CINeMA you accept the following <a
      href="DISCLAIMER">DISCLAIMER</a>
    </small>
-->
  </div>

</div>
