<div class="container-fluid routed" id='welcome'></div>
  <div class='welcome-cont col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8'>
    {{{welcomePage}}}
    <p>
    <ul class='list-inline supporters'>
      <li>
        <a target="_blank" href="https://www.campbellcollaboration.org"> 
          <img class='campbell_logo' src="images/campbell_logo_wide.png"/>
        </a>
      </li>
      <li>
        <a target="_blank" href="http://www.cochrane.org"> 
          <img class='campbell_logo' src="images/cochrane_logo.png"/>
        </a>
      </li>
    </ul>
    </p>
  </div>
  <div class="license col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
    <small>
    CINeMA is distributed, in the hope that it will be useful but without any
    warranty, under the AGPLv3 license <a href="LICENSE.txt"><img
      src="images/agplv3.png"/></a>
    <br>
    By using CINeMA you accept the following <a
      href="DISCLAIMER.txt">DISCLAIMER</a>
    </small>
  </div>
</div>
