<div class="container-fluid routed welc" id='welcome'>
  <div class="content-welcome ">
  <div class='welcome-cont col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8'>


    <h1 style="color: #2c4d6d; font-weight: 300; font-size:50px;">Welcome to <span class="fontcinema">CINeMA</span>!</h1>

  <p>
   <em>
    <span class="fontcinema">
     CINeMA
    </span>
    (Confidence in Network Meta-Analysis) is a web application that simplifies the evaluation of confidence in the findings from network meta-analysis.
   </em>
  </p>
  <p>
   It is based on a methodological framework described in
   <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0099682">
    [1]
   </a>
   which considers six domains:
   <strong>
    within-study bias
   </strong>
   ,
   <strong>
    across-studies bias
   </strong>
   ,
   <strong>
    indirectness
   </strong>
   ,
   <strong>
    imprecision
   </strong>
   ,
   <strong>
    heterogeneity
   </strong>
   and
   <strong>
    incoherence
   </strong>
   .
   <br/>
   Key to the
   <span class="fontcinema">
    CINeMA
   </span>
   methodology is the
   <strong>
    contribution matrix
   </strong>
   , which shows how much information each study contributes to the results from network meta-analysis.
  </p>

    <p><small><em><a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0099682" target="_blank" rel="noopener noreferrer">[ 1. Salanti G, Del Giovane C, Chaimani A, Caldwell DM, Higgins JPT. Evaluating the quality of evidence from a network meta-analysis. PloS One. 2014;9(7):e99682. ]</a></em></small></p>
      <br>
    <p>
    <h5>How to cite <span class="fontcinema">CINeMA</span></h5>

      CINeMA: <em>Confidence in Network Meta-Analysis</em> [Software]. Institute
      of Social and Preventive Medicine, University of Bern, 2017.
      Available from <a href="https://cinema.ispm.unibe.ch">cinema.ispm.unibe.ch</a>
    </p>
      <p><hr class="thin"></p>
      <br><br>
    <p><i class="fa fa-arrow-right" aria-hidden="true"></i> To browse your projects or upload a new one go to </p>
      <button class="addprojectbtn2" type="button" onclick="Actions.Router.gotoRoute('project')"href="#project"><i class="fa fa-file" aria-hidden="true" style="padding-right:7px"></i> MY PROJECTS </button><br><br><br><br>


    </div>
    </div>






















  <!--  {{{welcomePage}}}
     <p>
    <ul class='list-inline supporters'>
      <li>
        <a target="_blank" href="https://www.campbellcollaboration.org">
          <img class='campbell_logo' src="images/campbell_logo_wide.png"/>
        </a>
      </li>
      <li>
        <a target="_blank" href="http://www.cochrane.org">
          <img class='campbell_logo' src="images/cochrane_logo.png"/>
        </a>
      </li>
    </ul>
    </p>
  </div>
  <div class="license col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
    <small>
    CINeMA is distributed, in the hope that it will be useful but without any
    warranty, under the <a href="LICENSE"><img
      src="images/agplv3.png"/></a> license
    <br>
    By using CINeMA you accept the following <a
      href="DISCLAIMER">DISCLAIMER</a>
    </small>
-->
  </div>

</div>
